/* Styles */


/* Colors */
/* blue grey #62797f */
/* light green #e4ddc9 */
/* middle green #63695d */
/* light tan #e4ddc9; */
/* middle tan #b3ae9e; */
/* rose red #b46b66; */


* {
	box-sizing: border-box;
	font-family: 'Lato', Sans-Serif;
	font-size: 16px;
}

body {
	background-color: #e4ddc9;
	/* #b3ae9e; */
	color: #151515;
}
h1, h2, h3, h4, .button {
	font-family: 'Arvo', Serif;
	margin-top: 0;
}

h1 {	
	font-size: 2.6em;
	padding-top: 20vh;
	text-align: center;
}
h2 {	
	font-size: 2em;
}
h3 {	
	font-size: 1.6em;
}
h4 {	
	font-size: 1.4em;
}

hr {
	border-style: groove;
}

header {
	min-height: 40vh;
	text-align:center;
	padding-bottom: 40px;
	width: 100%;
} 

.logo {
	border-radius: 50%;
	width: 200px;
	-webkit-box-shadow: 22px 24px 0px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 22px 24px 0px 3px rgba(0,0,0,0.75);
	box-shadow: 22px 24px 0px 3px rgba(0,0,0,0.75);
}

a {
	color: #8C423E;
	text-decoration: none;
}

a:hover { 
	color: #333830;
}

p { 
	margin-top: 0;
	line-height: 1.4em;
}

strong {text-transform: uppercase;}
header, main { margin: 0; }

header {
	background-image: url(../images/circle-boat.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
nav {
	min-height: 60px;
	background-color: #b46b66;
	color: #f8f0db;
}

nav {
	margin: 0;
	list-style-type: none;
	display: grid; 
	grid-template-columns: 1fr;
	justify-content: flex-end;
	width: 100%;
}
nav ul {
	list-style-type: none;
	text-align: right;
	padding-right: 60px;
}
nav li { display: inline; }
nav a {
	color: #f8f0db;
	margin-left: 16px;
}
nav a:hover {color: #c0c976;}

nav a.button { background-color: #c0c976; margin-bottom:0; }


main { 
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.projects section, .students-body section {
	grid-template-columns: 1fr 1fr;
}


.icon {width: 46px; margin-bottom: -12px;}

main li {margin-bottom: 10px;}
section {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1.6em;
	margin-right: 0px;
	padding: 40px;

}

.week { text-transform: uppercase; }
article img {width: 100%;}
aside {
	background-image: url(../images/swirl_pattern.png);
	padding: 20px;
	margin-right: 2em;
}
aside ul { 
	list-style-type: none; 
	padding-left: .8em;
	margin-top: 0;
}

aside ul.books li { margin-bottom: .6em; }
aside h3 { margin-bottom: .3em; }
a.button {
	display: inline-block;
	min-width: 80px;
	padding: 10px 12px;
	background-color: #b46b66;
	color: #fff;
	margin-bottom: 30px;
}

a.button:hover {
	background-color: #63695d;
}

.showntell {width: 100%;}
footer {
	background-color: #878f7f;
	width: 100%;
	min-height: 60px;
	padding: 20px;
}
footer p { color: #fff; }